git_push.py
git_pull.py
.CFUserTextEncoding
.DS_Store
.Trash
.ansible
.aws
.bash_history
.bash_profile
.bash_sessions
.cups
.docker
.git-completion.bash
.git-prompt.sh
.gitconfig
.ipynb_checkpoints
.ipython
.jupyter
.keras
.lesshst
.matplotlib
.pyenv
.pyenv_org
.pylint.d
.python-version
.ssh
.viminfo
.vscode
.vscode-server
.wget-hsts

